.btn {
  position: absolute;
  bottom: 10%;
  right: 2%;
  width: 6.4rem;
  height: 6.4rem;
  padding: 2rem;
  border-radius: 50%;
  border: none;
  background: #652bfc;
  box-shadow: 3px 6px 10px 0px #00000026;
  z-index: 4;
  cursor: pointer;
}
