.container {
  width: 766px;
  height: 289px;
  margin: auto;
  border-radius: 12px;
  padding: 2.4rem;
  border: 1px;
  background: #141417;
  border: 1px solid rgba(0, 0, 0, 0.5);

  .heading {
    display: flex;
    align-items: center;
    gap: 8px;

    span {
      font-size: 1.6rem;
      font-weight: 400;
    }
  }

  textarea {
    color: #fff;
    font-size: 1.6rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    height: 13.5rem;
    width: 100%;
    padding: 2rem;
    border: none;
    border-radius: 8px;
    background: #201f23;
    resize: none;
    overflow-y: auto;
    scrollbar-width: thin;
    margin-top: 2rem;
    margin-bottom: 1.8rem;

    &:focus {
      outline: none;
    }

    &::-webkit-scrollbar {
      width: 2px;
      border-radius: 2rem;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      width: 2px;
      background: transparent;
      border-radius: 2rem;
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .generate-btn {
      font-size: 1.6rem;
      font-weight: 700;
      padding: 1.4rem 3.2rem;
      border: none;
      border-radius: 8px;
      border: 1px solid #000;
      background: linear-gradient(180deg, #8c6cff 0%, #764fff 100%),
        linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.28),
          rgba(255, 255, 255, 0.28)
        );
      cursor: pointer;

      &:hover {
        background: linear-gradient(360deg, #8c6cff 0%, #764fff 100%),
          linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.28),
            rgba(255, 255, 255, 0.28)
          );
        transition: background 0.3s ease-in;
      }
    }
  }
}
