.container {
  width: 130px;
  height: 130px;
  position: relative;
  overflow: hidden;

  .scanner,
  .rings {
    transform-origin: center;
  }

  .scanner {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: conic-gradient(
      from 180deg at 50% 50%,
      var(--tertiary-color) 0deg,
      rgba(150, 129, 255, 0) 90deg,
      rgba(150, 129, 255, 0) 360deg
    );
    animation: rotateScanner 8s linear infinite;
  }

  @keyframes rotateScanner {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .rings {
    border: 1px solid var(--tertiary-color);
    border-radius: 50%;
    position: absolute;
    height: 5.6rem;
    width: 5.6rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: increaseSize 8s infinite;
    opacity: 0;
  }

  @keyframes increaseSize {
    0% {
      height: 1.4rem;
      width: 1.4rem;
      opacity: 1;
    }
    2% {
      height: 1.4rem;
      width: 1.4rem;
      opacity: 0;
    }

    25% {
      height: 3rem;
      width: 3rem;
      opacity: 1;
    }
    26% {
      height: 3rem;
      width: 3rem;
      opacity: 0;
    }
    50% {
      height: 4.6rem;
      width: 4.6rem;
      opacity: 1;
    }
    51% {
      height: 4.6rem;
      width: 4.6rem;
      opacity: 0;
    }
    100% {
      height: 6.4rem;
      width: 6.4rem;
      opacity: 1;
    }
  }
}
