.container {
  background: #26252a;
  border-radius: 12px;
  padding: 0.4rem;
  flex: 1;
  height: 100%;
  min-height: 0;
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
  }

  .inner-container {
    background: #201f23;
    border-radius: 12px 12px 0 0;
    padding: 2.8rem 2.8rem 0 2.8rem;
    position: relative;
    min-width: 56.6rem;

    h2 {
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 29px;
    }

    button {
      background: #17171a;
      border: none;
      padding: 0.8rem 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      border-radius: 35px;
      cursor: pointer;
      margin-top: 1.8rem;

      span {
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
  }

  table {
    border-collapse: collapse;
    border: none;
    display: flex;
    flex-direction: column;
    width: 100%;

    thead {
      background: #201f23;
      border-radius: 0 0 12px 12px;
      padding: 1.2rem 3.4rem 0 3.4rem;

      tr {
        display: flex;
        td {
          padding: 1.2rem 0.6rem;
          font-size: 12px;
          font-weight: 400;
          line-height: 15px;
          letter-spacing: 0em;
          text-align: left;
          color: #ffffff99;
          width: 20%;
        }

        td:nth-child(2),
        td:nth-child(3),
        td:nth-child(4) {
          text-align: right;
        }

        td:nth-child(5) {
          text-align: center;
        }
      }
    }

    tbody {
      max-height: calc(59.7rem - 17rem);
      overflow: auto;

      &::-webkit-scrollbar {
        width: 0;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: transparent;
      }
    }
  }
}
