.table-row {
  padding: 0.8rem 2.8rem;
  border-radius: 12px;
  background: #26252a;
  display: flex;
  cursor: pointer;
  align-items: center;

  .model-name {
    display: flex;
    gap: 8px;
    min-width: 20%;
    justify-content: flex-start;

    img {
      border-radius: 50%;
    }

    span {
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 24px;
    }
  }

  .version,
  .license {
    min-width: 20%;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: right;
    color: #ffffff99;
    padding: 1.2rem 0.8rem;
  }

  .contributors,
  .ratings {
    display: flex;
    min-width: 20%;
    align-items: center;
    justify-content: flex-end;
    padding: 1.2rem 0.8rem;
  }

  &:hover,
  &.active {
    background: #201f23;
  }

  &.active {
    transition: background 0.3s ease-out;
    animation: expand 0.3s forwards;
    border-radius: 12px 12px 0 0;
  }

  @keyframes expand {
    0% {
      background: #201f23;
    }
    50% {
      background: #17171a;
    }
    100% {
      background: #201f23;
    }
  }
}
