.container {
  width: 26.8rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background: linear-gradient(
      360deg,
      var(--primary-color) 17.25%,
      rgba(100, 102, 242, 0) 100%
    ),
    url("../../public/clock-background.jpeg") center/cover;

  p {
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
  }

  .drop {
    min-width: 14rem;
    min-height: 14rem;
    border-radius: 100%;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.05)
      ),
      linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.05)
      );
    border: 1px dashed #ffffff4d;
  }
}
