.switch {
  padding: 6px;
  border-radius: 12px;
  background: #201f23;
  transition: 0.3s ease all;
  width: fit-content;
  position: relative;

  .switch-button {
    width: 11.2rem;
    padding: 1rem 2.4rem;
    border-radius: 8px;
    background: transparent;
    color: #ffffff99;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    transition: 0.3s ease all;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }

  .active {
    color: #151515;
    background-color: #141417;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: calc(50% - 6px);
    height: calc(100% - 12px);
    border-radius: 8px;
    z-index: 0;
    transition: 0.2s ease-out all;

    &-btn {
      color: #ffffff;
    }

    &.slide-right {
      animation: slide-right 0.2s ease-out forwards;
    }

    &.slide-left {
      animation: slide-left 0.2s ease-out forwards;
    }
  }

  @keyframes slide-right {
    from {
      transform: translate(50%, -50%);
    }
    to {
      transform: translate(0, -50%);
    }
  }

  @keyframes slide-left {
    from {
      transform: translate(-50%, -50%);
    }
    to {
      transform: translate(0, -50%);
    }
  }
}
