.main {
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4.8rem auto;

  .top {
    display: flex;
    gap: 16px;
    margin-bottom: 1.6rem;
  }

  .content {
    background: #17171a;
    border-radius: 2.4rem;
    padding: 1.6rem;
    width: 1274px;
    height: 869px;
    box-shadow: -2px 23px 52px 0px #0000004f;

    .first {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 1.6rem;

      .model {
        margin-right: 1.6rem;
      }

      .slider {
        width: 16px;
        height: 59.7rem;

        border: none;
        display: flex;
        padding: 0.8rem 0;
        justify-content: center;
        align-items: center;
        cursor: col-resize;
        user-select: none;

        .slider-thumb {
          display: none;
          width: 4px;
          height: 92px;
          background: #49474f;
          border-radius: 2px;
        }
      }

      .slider:hover .slider-thumb {
        display: block;
      }
    }

    .slider-horizontal {
      height: 16px;
      width: 100%;
      margin: auto;
      padding: 0.8rem 0;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: row-resize;
      user-select: none;

      .slider-thumb-horizontal {
        display: none;
        height: 4px;
        width: 92px;
        background: #49474f;
        border-radius: 2px;
      }
    }

    .slider-horizontal:hover .slider-thumb-horizontal {
      display: block;
    }

    .second {
      background: #26252a;
      border-radius: 12px;
      display: flex;
      padding: 3.2rem;
      position: relative;
      gap: 16px;
      width: 100%;
      /* height: fit-content; */
      justify-content: space-between;
      flex: 1;
      min-height: 0;
      overflow: auto;
    }
  }
}
