.container {
  position: relative;
  width: fit-content;
  height: fit-content;
  align-items: flex-end;

  .button {
    width: 38rem;
    height: fit-content;
    padding: 2rem 2.4rem;
    border-radius: 16px;
    border: none;
    background: linear-gradient(0deg, #201f23, #201f23),
      linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.09),
        rgba(255, 255, 255, 0.09)
      );
    border-top: 1px solid #ffffff17;
    box-shadow: 0px 0px 0px 1px #00000040;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    span {
      font-size: 2rem;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
    }
  }

  .menu {
    z-index: 5;
    width: 38rem;
    height: fit-content;
    padding: 0.8rem 0.6rem;
    border-radius: 6px;
    gap: 1px;
    background: #17171a;
    position: absolute;
    top: 100%;

    .item {
      display: flex;
      gap: 8px;
      padding: 0.4rem 1rem;
      border-radius: 4px;

      input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        height: 1.6rem;
        width: 1.6rem;
        border-radius: 4px;
        border: 1px solid #fff;
        background: #fff;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease, border-color 0.3s ease;

        &:hover {
          background-color: #fff;
          background-image: url("../../public/rectangle-hover.svg");
          background-repeat: no-repeat;
          background-position: center;
          box-shadow: 0px 0px 0px 1px #464f6052;
        }

        &:checked {
          transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
          animation: checked 0.6s forwards;
        }

        &:not(:checked) {
          transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
          animation: unChecked 0.6s forwards;
        }
      }

      @keyframes checked {
        0% {
          border: 1px solid #fff;
          background: #fff;
          box-shadow: 0px 0px 0px 4px var(--checkbox-color);
        }
        25% {
          box-shadow: 0px 0px 0px 4px var(--checkbox-color);
        }
        100% {
          background: url("../../public/rectangle.svg") no-repeat center;
          border-color: var(--secondary-color);
          background-color: var(--secondary-color);
        }
      }

      @keyframes unChecked {
        0% {
          background: url("../../public/rectangle.svg") no-repeat center;
          border-color: var(--secondary-color);
          background-color: var(--secondary-color);
        }
        25% {
          box-shadow: 0px 0px 0px 4px var(--checkbox-color);
        }
        100% {
          border: 1px solid #fff;
          background-color: #fff;
        }
      }

      label {
        font-size: 1.4rem;
        font-weight: 500;
        color: #ffffff99;
      }

      &:hover {
        gap: 12px;
        transition: all 0.1s ease-in-out;
        background: #201f23;
      }
    }
  }
}
