.task {
  display: flex;
  gap: 8px;

  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    height: 2rem;
    width: 2rem;
    border-radius: 6px;
    border: 1px solid #fff;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, border-color 0.3s ease;

    &:checked {
      background: url("../../public/charm_tick.svg");
      background-position: center;
      border-color: #764fff;
      background-color: #764fff;
      transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
    }
  }

  input[type="checkbox"]:checked + label {
    position: relative;
    overflow: hidden;
    color: #764fff;
  }

  input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #764fff;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    animation: slide 0.4s ease-out;
  }

  @keyframes slide {
    0% {
      width: 0;
      left: 0;
    }
    100% {
      width: 100%;
      left: 0;
    }
  }

  label {
    font-size: 1.6rem;
    font-weight: 300;
  }
}
